/* CSS */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

:root{
    --page-spacing:30px; 
    --paragprah: 2em; 
    --color: white; 
    --margin: 1em;  
    --base:5vh;
    --maxwidth: 120ch;
} 

/* General */
h1 {
    font-family: 'Space Mono', monospace; 
    color: var(--color)
}

h2 {
  font-family: "Dancing Script", cursive;
  font-size: var(--paragprah);
  max-width: calc(var(--maxwidth) * 1.5);
  line-height: 2rem; 
}

h3 {
  font-family: "Dancing Script", cursive;
  opacity: 0.4;

}

p {
  font-family: 'Space Mono', monospace; 
  font-size: calc(var(--paragprah)/1.5);  
  max-width: var(--maxwidth);
}

a {
    color: #c00505;
    font-size: 15px;
}

img {
    width: 12vw; 
    /* padding-left: calc(var(--base)/2) */
}

/* Classes and Id's */
#blur {
    text-shadow: 0 0 2px #000;
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

#container {
    position: relative;
    height: 100%;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11.5vw;
    text-align: center;
    padding: calc(var(--margin)/2);
    margin: 0 auto;
    z-index: 10;
}

.circle {
    background-color: #c00505;
    position: absolute;
    /* width: 50px;
    height: 50px; */
    border-radius: 50%;
    cursor: pointer;
}

.circle:hover {
    transform: scale(1.5);
    opacity: 0.7;
    background-color: #680000;
    transition: 0.2s ease;
}

.instruction {
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
}

.instruction p {
  font-size: 14px;
  font-family: 'Space Mono', monospace; 
  color: #c00505;
  animation: blink 1s infinite; 
}

@keyframes blink {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.bkg1{ 
  background-color: #000;
}

.Mainimage {
  position: fixed;
  opacity: 0.7
}

.para { 
  padding: calc(var(--base)*1.5);
  padding-left: calc(var(--base)*4.5); 
  line-height: 30px;
  color: var(--color)
}

#para2 { 
  padding: calc(var(--base)*1.5);
  padding-left: calc(var(--base)*2); 
  line-height: 40px;
  color: var(--color)
}

@keyframes appear {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.typing-animation span {
  opacity: 0;
  animation: appear 0.0000001s ;
}


/* Glitch animation */
@keyframes glitch {
  0% { transform: none; }
  5% { transform: skew(-0.5deg, -0.9deg) translate(2px, -2px); }
  10% { transform: none; }
  15% { transform: skew(0.2deg, 0.4deg) translate(-1px, 2px); }
  20% { transform: none; }
  25% { transform: skew(0.1deg, -0.3deg) translate(2px, -1px); }
  30% { transform: none; }
  35% { transform: skew(-0.3deg, 0.6deg) translate(-1px, 1px); }
  40% { transform: none; }
  45% { transform: skew(0.4deg, -0.1deg) translate(2px, 1px); }
  50% { transform: none; }
  55% { transform: skew(-0.2deg, 0.3deg) translate(-1px, -2px); }
  60% { transform: none; }
  65% { transform: skew(0.5deg, -0.4deg) translate(2px, -1px); }
  70% { transform: none; }
  75% { transform: skew(-0.4deg, 0.2deg) translate(-2px, 1px); }
  80% { transform: none; }
  85% { transform: skew(0.3deg, -0.5deg) translate(1px, 2px); }
  90% { transform: none; }
  95% { transform: skew(-0.1deg, 0.1deg) translate(-2px, -1px); }
  100% { transform: none; }
}

.glitch-effect {
  animation: glitch 0.1s infinite;
}

.popUp { 
  color: #c00505;
  animation: blink 1s infinite;
  padding-left: calc(var(--margin)*2);
  padding-top: calc(var(--margin)*2);
  font-size: 30px;
}

.popUp1{ 
  color: var(--color);
  padding-left: calc(var(--margin)*2);
  padding-top: calc(var(--margin)*2);
  font-size: 15px;
}

.Mainimage.two{
  margin: 0vw 40vw; 
} 
.Mainimage.three{
  margin: 35vw 80vw;
}

.Mainimage.four { 
  margin: 78vw 40vw;
  margin-bottom: 0;
}

.Mainimage.five { 
  margin: 35vw 3vw;
  margin-bottom: 0;
}

.Mainimage.six { 
  margin: 20vw 40vw;
  margin-bottom: 0
}

.Mainimage.seven { 
  margin: 40vw 40vw;
  margin-bottom: 0
}

/* Media Queries */



@media (min-width:1024px){

  /* Laptop or larger */

  /* Page 1 */
  .page1{
    color:var(--color); 
    display: block;
    margin-top: 0;
    margin: auto;
    padding: var(--base);
    font-size: calc(var(--base)/4);
    /* max-width: var(--maxwidth);  */
    }
    
    .image-container {
      display: inline;
      margin:var(--base)
    }

    .next-button {
      padding-left: 90vw;
      font-family: 'Space Mono', monospace; 
      font-size: var(--paragprah);
      color: red; 
      border: none; 
      background-color: transparent; 
      cursor: pointer;
      z-index: 999;
      display: none;
  }
    
    
    /* Page 2 and 3 */

    .options { 
      font-family: 'Space Mono', monospace; 
      color: red; 
      cursor: pointer;
      z-index: 999;
    }

    .smallerText { 
      font-size: 12px
    }

  #reload-container { 
    color: red; 
    font-size: calc(var(--paragprah)/2);
  }

  #reload-container p { 
    margin-left: 43vw;
    animation: blink 1s infinite;
  }

    #reload-btn { 
      margin-left: 47vw;
      font-family: 'Space Mono', monospace; 
      color: red; 
      cursor: pointer;
      z-index: 999;
      
    }

    
    .rightside{ 
      display:none;
      float: right; 
      margin-top: calc(var(--base)*3);
      color: black;
      text-align: right;
    }
  

    .leftside {
    display:none;
    float: left;
    margin: calc(var(--base)*2.8) 0;
    color: black;
    }
    
   .note{ 
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: calc(var(--margin)*45);
    color: #c00505;
    animation: blink 1s infinite;

   }

  #name-input { 
    margin-left: 40vw;
    font-family: 'Space Mono', monospace; 
  }

  #dob-input { 
    margin-left: 40vw;
    font-family: 'Space Mono', monospace; 
  }
  
  #send-btn { 
    margin-left: 4vw;
    font-family: 'Space Mono', monospace; 
  }

  .red { 
    color: darkred
  }

  #text { 
    padding: calc(var(--base)*1.5);
    padding-left: calc(var(--base)*4.5); 
    line-height: 30px;
    color: var(--color);
    font-size: 1em;
  }

  #input { 
    margin-left: 40vw;
      font-family: 'Space Mono', monospace; 
      color: red; 
      cursor: pointer;
      z-index: 999;
  }

  #nextButton {
    position: fixed;
    top: 20px;
    left: 20px;
    display: none;
    font-family: 'Space Mono', monospace; 
    font-size: var(--paragprah);
    color: red; 
    border: none; 
    background-color: transparent; 
    cursor: pointer;
    z-index: 999;
  }

   /* Page 4 */

   .Bkg4{ 
    background-color: darkred;
  }

  .content {
    color: var(--color);
    padding: calc(var(--base)*1.5);
    padding-left: calc(var(--base)*2); 
    line-height: 40px;
}


/* Modal styles */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 1vw;
  width: 80%;
  max-width: 600px;
}

#webcamStream {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.3; 
}

.greeting-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; 
  font-size: 24px; 
  z-index: 1; 
}




}