@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

:root{
    --page-spacing:30px; 
    --paragprah: 2em; 
    --color: white; 
    --margin: 1em;  
    --base:5vh;
    --maxwidth: 120ch;
  } 

/* General */


h1{
  font-family: 'Space Mono', monospace; 
}

h2{ 
  font-family: 'Nothing You Could Do', cursive;
  font-size: var(--paragprah);
}

h3{
  font-family: 'Nothing You Could Do', cursive;
  opacity: 0.4;

}

p{
  font-family: 'Space Mono', monospace; 
  font-size: calc(var(--paragprah)/1.5);  
}

a{
  color: #c00505;
  font-size: 15px;
}

img{
  width: 15vw; 
  /* padding-left: calc(var(--base)/2) */
}

/* Classes and Id's */

#blur {
  text-shadow: 0 0 2px #000;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

#container {
  position: relative;
  height: 100%;
}

.centered{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11.5vw;
  text-align: center;
  padding: calc(var(--margin)/2);
  margin: 0 auto;
}

/* Circles */

.circle {
  background-color: #c00505;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.circle:hover {
  transform: scale(1.5);
  opacity: 0.7;
  background-color: #680000;
  transition: 0.2s ease;
}

.bkg1{ 
  background-color: #000;
}

.Darkred.two {
 position: absolute;
}

.Mainimage.five{ 
  position: absolute;
  top: 40vw;
  left: 80vw; 
}

.image-container:hover .centre{
  display: block;
  margin: 10vw; 
  color:#c00505;
  transition: 0.2s ease;
  cursor:pointer
}

.image-container:hover .Mainimage.five {
  opacity: 0.5;
  transition: 0.2s ease;
  cursor:pointer
}

.centre{
 visibility: none;
 display: none;
}

.Mainimage.six{
  position: absolute;
  top: 40vw;
  left: 45vw; 
}

.Mainimage.seven{
  position: absolute;
  top: 40vw;
  left: 5vw; 
}

.Page6{
  color:var(--color);
  margin: var(--base);
  position: absolute;
 }

 .Page6old{
  color:var(--color);
  margin: var(--base);
  position: absolute;
 }

 .Page6.new{
  display: none;
 }

.one{
  font-size: calc(var(--paragprah)/3.8) 
}

.two{
  font-size: calc(var(--paragprah)/3) ;
}

.three{
  font-size: calc(var(--paragprah)/2.2) ;
}

.four{ 
  font-size: calc(var(--paragprah)/2) ;
}

.five{
  font-size: calc(var(--paragprah)/1.3) ;
}

.six{
  font-size: calc(var(--paragprah)*1.2) ;
}

.up2{
  color:var(--color);
  visibility: visible;
  display: block;
  margin-top: 0;
  top:0;
  position: absolute;
 font-size: calc(var(--paragprah)/4); 
 margin: 0 20vw;
 opacity: 0.3
}

.four.new{ 
  color:#c00505
}

#random-elements-container { 
  color:rgb(255, 255, 255); 
  font-size: calc(var(--paragprah)*1.5);
  opacity: 0.5;
  margin-left: calc(var(--base)*2);
}

.last { 
margin: calc(var(--base)*1.5);
position: absolute;
}


.Mainimage.eight{
  position: absolute;
  float: left;
  bottom: 0;
  margin-top: calc(var(--base)*7); 
  opacity: 0.3;
}

/* Media Queries */



@media (max-width:390px)  { 
  
  /* Specifically for phones */

  .leftside{
    display: none;
  }

  .Red {
   padding-top: calc(var(--base)/2);
   text-align: center;
   font-size: 1em;
  }
}



@media (max-width:767px){

  /* Phone/smaller */

/* Page 1 */

.Mainimage{
  margin-top: 10vw; 
}

.page1{
  display: block;
  color:var(--color); 
  /* padding: calc(var(--base)*2); */
  margin: auto;
  position: relative;
  max-width: 65ch;
  font-size: 2vw;
}

.Overlay{
  display: none;
}

.rules{
  display:none
}


/* Page 2 */

.rightside{ 
  padding: var(--base) 0;
  font-size: calc(var(--paragprah)/2)

}

.warpedtext{
  display: none;
}

.Mainimage.two{
  margin: 5vw 35vw; 
}

/* Page 3 */

  .Red{ 
    display: none;
    visibility: none;
    }
 
    .farup{ 
      display: none;
      visibility: none;
      }

    .lft.smaller { 
      display: none;
      visibility: none;
    }

    .Smallscreen {
      padding: 0 calc(var(--base)*2);
      text-align: center;
      font-size: calc(var(--paragprah)/3)
    }

    .Mainimage.three{
      margin: 5vw 70vw; 
    }

    /* Page 4 */

      .Mainimage.four { 
        margin: 60vw 130vw;
        margin-bottom: 0;
      }

      .farup2{
        display:none
      }

      .Darkred.two {  
          visibility: visible;
          display: block;
          top: 0;
          position: absolute;
          max-width: 60ch;
         font-size: calc(var(--paragprah)/1.7); 
         margin: 20vw 20vw

      }

      /* Page 5 */
  .centre{ 
    display:block; 
    margin: var(--base); 
    font-size: calc(var(--paragprah)/3);
  }

  .image-container:hover {
    display: none;
    visibility: hidden;
    pointer-events: none;
  }

  /* .RG{
    margin-left:2vw; 
    text-align: right;
    padding:0
  } */

  .Mainimage.five{ 
    top: 80vw; 
    opacity: 0.3;
  }

  /* Page 6 */

  .Mainimage.six{
    position: absolute;
    top: 130vw;
    left: 45vw; 
  }

  

}


@media (min-width:768px) and (max-width: 1024px) {

  /* Tablet */

  /* Page 2  */

  .rightside {
    color: var(--color); 
 }

 .Mainimage.two {
  display:block;
  margin: auto
 }

 .warpedtext {
  display: none;
 }

.rules{
  display:none; 
}

/* Page 3 */

  
  .lft.smaller {
    display: none;
    visibility: hidden;
  }
  
  .Smallscreen {
    padding: 0 calc(var(--base)*2);
    text-align: center
  }

  .Red{
    display: none;
    visibility: hidden;
  }

  .Mainimage.three{
    margin: 3vw 70vw; 
    margin-bottom: 0
  }

  .Darkred {
    margin-bottom: 0;
  }

  /* Page 4 */

  .farup2{
    display: none
  } 

  .Mainimage.four { 
    /* margin: 75vw 80vw;
    margin-bottom: 0 */
    margin-left: 80vw; 
    margin-top: 30vw
  }

  .Darkred.two {  
    top:0;
    visibility: visible;
    display: block;
    margin-bottom: 0;
    margin: 15vw

}

.centre{ 
  display:block; 
  margin: calc(var(--base)*3);
}

.Mainimage.five { 
  opacity: 0.5;
}

/* Page 5 */

/* .RG {
 position: absolute;
 text-align: right;
 pointer-events: none;
} */

}

@media (hover: none) {

  Disable hover */

  .image-container:hover {
    display: inherit;
  }
}




@media (min-width:1024px){

  /* Laptop or larger */

  /* Page 1 */
  .page1{
    color:var(--color); 
    display: block;
    margin-top: 0;
    margin: auto;
    padding: var(--base);
    max-width: var(--maxwidth);
    font-size: calc(var(--base)/4);
    transition: opacity 0.2s ease-in-out;
    }
    
    .image-container {
      display: inline;
      margin:var(--base)
    }
    .image-container:hover .page1 {
      opacity: 0.2; /* change the opacity on hover */
    }

    
    
    /* Page 2 and 3 */

    .Overlay {
      display: none; /* make it invisible by default */
      position: absolute;
      max-width: 60ch;
      top: 0;
      margin-left: 28vw;
      padding: calc(var(--base)*2); 
      color: var(--color);
    }
    
    .image-container:hover .Overlay{
      display: block; /* show the text on hover */
    }
    .rightside{ 
      display:inline;
      float: right; 
      margin-top: calc(var(--base)*3);
      color: var(--color);
      text-align: right;
      transition: opacity 0.2s ease-in-out;
    }
    
    .image-container:hover .rightside{
      display: none
    }
    
    
    .leftside {
      display: none;
    }
    
    .image-container:hover .leftside {
    display:block;
    float: left;
    margin: calc(var(--base)*2) 0;
    color: var(--color);
    transition: opacity 0.2s ease-in-out;
    
    }
    
    .lft.smaller {
    display:block;
    float: left;
    margin: (var(--base)) 0;
    color: black;
    transition: opacity 0.2s ease-in-out;
    }
    
    .image-container:hover .lft.smaller {
     opacity: 0.1 ;
      }
    
    .Red { 
    display: block;
    /* margin: calc(var(--base)*5); */
    margin-left: calc(var(--base)*9);
    margin-bottom:0 ;
    color: #c00505;
    top:0; 
    padding: calc(var(--base)*2); 
    max-width: 50ch;
    transition: opacity 0.2s ease-in-out;
    }
    
    .image-container:hover .Red {
      opacity: 0.1 ;
     }
    
    .farup{ 
    visibility: hidden;
    }
    
    .image-container:hover .farup {
      visibility: visible;
      display: block;
      margin-top: 0;
      top:0;
      position: absolute;
      max-width: 40ch;
      font-size: var(--paragprah); 
      margin-left: 20vw;
      transition: opacity 0.2s ease-in-out;
    
     }
    
    .warpedtext { 
      display: block;
      margin: 2vw 40vw;
      width: 20vw
    }
    
    .Darkred { 
    color:#3c0000;
    margin: var(--base);
    margin-bottom: 0vw;
    font-size: calc(var(--paragprah)*1.5);
    }
    
    .Bkg4{
      background-color: #c00505;
    }
    
    .rules {
      font-size: calc(var(--base)/2.5);
      display: block; 
      padding: 20vw 37.5vw;
      padding-bottom: 0;
      opacity:0.5;
      color: var(--color)
    }
    
    .rules.two{
      color:#000;
      padding: 0 34vw;
    }
    
    .Mainimage.two{
      margin: -10vw 40vw; 
    } 
    
    .Mainimage.three{
      margin: 0 80vw
    }


 .Smallscreen {
  display: none; 
}

.Darkred{
  padding-bottom: 0;
}

/* Page 4 */

.Darkred.two {
  font-size: calc(var(--paragprah)/1.5);
}

.farup2 { 
  visibility: visible;
  display: block;
  margin-top: 0;
  top:0;
  position: absolute;
  max-width: 40ch;
 font-size: var(--paragprah); 
 margin: 0 20vw;
 transition: opacity 0.2s ease-in-out;
}

.Mainimage.four { 
  margin: 20vw 76vw;
  margin-bottom: 0
}

.image-container:hover .farup2 {
   opacity: 0.2;
}

.image-container:hover .rules.four { 
display: none;
}

  .image-container:hover .Darkred.two { 
    font-size: calc(var(--paragprah)*3);
    margin: 0 12vw
    }

.rules.four{
  
  margin: 0;
  font-size: calc(var(--base)/2.5);
  display: block;
  padding: 0 37.5vw;
  opacity:0.5;
  color: var(--color)
}


/* Page 5 */ 

/* .RG {
  display:inline;
      float: right; 
      margin-left: 20vw;;
      text-align: right;
      transition: opacity 0.2s ease-in-out;
      position: absolute;
} */

.centre {
  display: none;
}

/* Page 6 */

.image-container:hover .Page6.new {
  display: block;
  margin: 0 20vw;
  top:0;
  color: #c00505;
}

.image-container:hover .Page6old{
  opacity: 0.1;
}

.image-container:hover .Mainimage.six{
 opacity: 0.4;
}




}

